*{
    margin:0;
    padding:0;
}
body{
    height:10000px;
}
div{
    width:50%;
    height:0;
    padding-bottom: 50%;
    background:red;
}
#div2{
    background:blue;
}
#div3{
    background:yellow;
}

