*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
/*.out_border{*/
    /*border: 0.5px solid black;*/
/*}*/
.tag_area{
    width: 800px;
    border: 2px solid black;
    margin: 0 auto;
}
.top_nav{
    width:800px;
    /*height:50px;*/
    background: black;
    padding:0 0 2px 0;
}
.top_nav::after{
    content: "";
    display: block;
    clear:both;
}
.nav{

}
.name{
    color:white;
    float:left;
    /*display: inline-block;*/
    width:120px;
    height:46px;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
}
.un_nav{
    line-height:30px;
}
.bot{
    padding-left:60px;
    padding-top:10px;
    list-style-type: disc;
}
#ff{
    display:block;
}
#ss{
    display: none;
}
#tt{
    display:none;
}